<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>JSLintMate<%=
    " (with #{linter})" unless linter.key == :jslint %></title>
  <style>
    <%= JSLintMate.css %>
  </style>
</head>
<body>
  <%= result %>
  <script>
    <%= JSLintMate.js %>
    window.jslm.version.current = '<%= JSLintMate.version %>';
  </script>
</body>
</html>
