<%
desc              = template_locals[:desc]
filepath          = template_locals[:filepath]
header_info_class = template_locals[:header_info_class]
notices           = template_locals[:notices] || []
results           = template_locals[:results]
%>
<header>
  <div class="info<%= %{ #{header_info_class}} if header_info_class %>">
    <span class="desc"><%= desc %></span>
    <% if filepath %>
    <span class="filepath"><%= filepath %></span>
    <% end %>
    <%= JSLintMate.link_to_website %>
  </div>

  <% if notices.any? %>
  <ul class="notices">
    <% notices.each do |notice| %>
    <li class="<%= notice.type %>"><%= notice.to_html %></li>
    <% end %>
  </ul>
  <% end %>
</header>

<%= results %>
